{% load static %}
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>J-Blog</title>
    <link href="{% static 'styles/css/style.css' %}" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <link rel="icon" href="{% static 'media/icons/logo.png' %}" type="image/png">
</head>
<body>
    <header>
        {% include "template-parts/header.html" %}
    </header>

    <div class="w-full flex flex-wrap justify-center px-2">
        <aside class="w-full md:w-1/5 p-2">
            {% include "template-parts/sidebar-right.html" %}
        </aside>
    
        <main class="w-full md:w-3/5 p-2">
            {% include "template-parts/posts.html" %}
        </main>
    
        <aside class="w-full md:w-1/5 p-2">
            {% include "template-parts/sidebar-left.html" %}
        </aside>
    </div>

    <footer>
        {% include "template-parts/footer.html" %}
    </footer>
</body>